.contactmeback {
    width: 100%;
    min-height: 350px;
    background-color: #333;
    background-image: url(../static/contacto-main.webp);
    background-size: cover;
    background-position: center;

    h1 {
        font-size: map-get($tamanios-fuentes, titulo);
        @include sombra-texto(5px, #000);
    }
}

.titlecontact {
    margin-bottom: 1rem;
    padding-top: 3rem;
    color: #fff;
    text-align: left;
    font-size: map-get($tamanios-fuentes, titulo);
    font-weight: 600;
}

.contactform {
    margin-left: 3rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

.image-contact {
    background-image: url(../static/contacto-second.webp);
}