.containter-head {
    padding-top: 2rem;
    align-items: center;
    padding: 5rem 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    padding: 20px;

    h1 {
        color: $black-olive;
        margin-bottom: 1rem;
        font-size: map-get($tamanios-fuentes, titulo);
        font-weight: 700;

        span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1.5px $black-olive;
        }
    }

    p {
        margin-bottom: 2rem;
        color: #292e1eff;
    }
}

.image-main {
    width: 100%;
    min-height: 350px;
    background-color: $black-olive;
    background-image: url(../static/general.webp);
    background-size: cover;
    background-position: center;
}

hr {
    margin: 2rem 5rem;
    height: 3px;
    background-color: rgb(194, 201, 232);
    border: none;
}


section {
    .headTitle {
        margin-bottom: 1rem;
        color: $black-olive;
        text-align: center;
        font-size: map-get($tamanios-fuentes, subtitulo);
        font-weight: 600;
    }

    .card {
        margin-top: 1.5rem;
        border: 4px solid rgba(0, 0, 0, 0.8);
        @extend %bordes-card;
        @include sombra-caja(10px, $purpureus);

        &-img-top {
            width: 100%;
            height: 300px;
        }
    }
}