.cards-portafolio {
    margin-bottom: 4rem;
}

.galeria-logos .img-fluid {
    border-radius: 50%;
    max-width: 200px;
    margin-top: 2rem;
}

.galeria .textimg p {
    margin-left: 4.2rem;
    text-shadow: 0 0 5px #fff;
}