.cards-portafolio {
    margin-bottom: 4rem;
}

.galeria-logos .img-fluid {
    @extend %bordes-logos;
    max-width: 200px;
    margin-top: 2rem;
}

.galeria .textimg p {
    margin-left: 4.2rem;
    @include sombra-texto(5px, #fff);
}